{% extends "AlfShopBundle::layout.html.twig" %}

{% block title %}Alf Application{% endblock %}

{% block content %}
<div id="sidebar">
    {% render "AlfShopBundle:Shop:leftMenu"  %}
</div>
<hr>
	jakis tekst

{% endblock %}
