{% extends "AlfShopBundle::layout.html.twig" %}

{% block title %}Alf Application{% endblock %}

{% block content %}
<hr >
<div>
    {% render "AlfShopBundle:Shop:index"  %}
</div>
<hr >
	jakis tekst
    
{% endblock %}
